<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Clearnet / Darknet Mirrors</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a class="u-email" href="http://dwghp.ddns.net/">Off-site</a> (hosted clearnet)</li>
          <li><a class="u-email" href="http://dwblog.ddns.net/">On-site</a> (self-hosted clearnet)</li>
          <!-- <li><a class="u-email" href="http://givgwxolxzvfz47o.onion/">onion</a> (Tor darknet)</li> -->
          <!-- <li><a class="u-email" href="http://127.0.0.1:8888/freenet:USK@l2noVVAqM~NXhqtGhgI-QLQu17kVLEAnfbDXZUdAGZY,T2lsi-RQpt9TsBnJHhIv~K1AYMlpCy9NsxgnutR4gus,AQACAAE/darkweb/2/">freesite</a> (Freenet darknet)</li> -->
          <!-- <li><a class="u-email" href="http://wpsw5eon3ecsys5pe4whbbetga6znznmiiwwynhp37qdlxxcqwca.b32.i2p/">eepsite (b32)</a> (I2P darknet)</li> -->
          <!-- <li><a class="u-email" href="http://ubuntudvm.i2p/">eepsite (i2p)</a> (I2P darknet)</li> -->
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
